#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
  color: #37E9FF;
  text-decoration: none;
  padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
}

body {
  background-color: #FFFFFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
    margin: 0;

}
header {
  background-color: rgba(33, 33, 33, 0.85); /* dark header with slight transparency */
}

nav a:hover {
  background-color: #1917CF;
  color: #FFFFFF;
}

.book,
.join {
  background-color: #1917CF;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.card-img {
  border: 10px solid #1917CF;
}

main section img {
  box-sizing: border-box;
}

.book:hover,
.join:hover {
  background-color: #3DE338;
  color: #212121;
}

#background {
  background-color: #37E9FF;
}

.msg {
  background-color: #FFFFFF;
  line-height: 1.5em;
  padding: 35px;
}

footer {
  background-color: #212121;
  color: #FFFFFF;
  padding: 25px 50px;
  margin-top: 200px;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    color: #1917CF;
    margin-top: 10px;
}

h4 {
  color: #212121;
}

.msg h2 {
  color: #1917CF;
}

.msg p {
  color: #212121;
  padding-bottom: 15px;
}

footer a {
  color: #37E9FF;
  text-decoration: none;
}

footer a:hover {
  color: #3DE338;
}

#logo_link {
  padding-top: 5px;
  width: 80px;
}

.icon {
  width: 80px;
  padding: 10px;
}

#hero-img {
  width: 100%;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}
